Source: siren
Section: misc
Priority: extra
Maintainer: stephane campinas <stephane.campinas@deri.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Vcs-Git: git://github.com/rdelbru/SIREn.git
Homepage: http://siren.sindice.com/

Package: siren
Architecture: all
Depends: tomcat6 | tomcat7, java6-runtime | java7-runtime
Description: Semantic Information Retrieval Engine
 Efficient, large scale handling of semi-structured data is increasingly an
 important issue to many web and enterprise information reuse scenarios.
 While Lucene has long offered these capabilities, its native capabilities
 are not intended for collections of semi-structured documents (e.g.,
 documents with very different schemas, documents with arbitrary nested
 objects). For this reason we developed SIREn - Semantic Information Retrieval
 Engine - a Lucene/Solr plugin to overcome these shortcomings and efficiently
 index and query arbitrary JSON documents, as well as any JSON document with
 an arbitrary amount of metadata fields.
 For its features, SIREn can somehow be seen as halfway between Solr (of
 which it offers all the search features) and MongoDB (given it can index
 arbitrary JSON documents).
 SIREn is a Lucene/Solr extension for efficient semi-structured full-text
 search. SIREn is not a complete application by itself, but rather a code
 library and API that can easily be used to create a full-featured
 semi-structured search engine.
